
.title {
    font-size: 3.8rem;
    font-weight: bold;
    color: #433b3b;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 1em;
}

.title .title-bot {
    color: #016839 !important;
}

/* Style for the sidebar */
.st-emotion-cache-1cypcdb {
    background-color: #016938 !important;
    margin-bottom: 3em;
}

.st-emotion-cache-1v0mbdj {
    margin: auto !important;
}

.st-emotion-cache-1v0mbdj img {
    height: 250px !important;
}

.st-emotion-cache-l9bjmx p {
    font-size: 16px !important;
    color: #fbf9f9 !important;
}

.st-emotion-cache-sh2krr p {
    font-size: 16px !important;
}

.eczjsme4 {
    background-color: #016938 !important;
}

.eczjsme11 {
    background-color: #016938 !important;
}

.st-emotion-cache-6qob1r{
    box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.14), 
    0 3px 1px -2px rgba(0, 0, 0, 0.42), 0 1px 5px 0 rgba(0, 0, 0, 0.52);

}
